html, body {
  @apply h-full;
}

label {
  @apply cursor-pointer;
}

#app {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 13px;
  @apply h-full bg-white;
}

hr {
  @apply my-2 border-gray-200 dark:border-gray-800;
}

.--code {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

  @apply relative p-2 bg-gray-100 border-[1px] border-gray-300 hover:border-gray-400 hover:shadow box-border leading-5;
  @apply dark:bg-slate-800 dark:border-gray-900;

  .brackets { @apply font-semibold; }
  .brackets-0 { @apply text-red-700 dark:text-red-400; }
  .brackets-1 { @apply text-green-700 dark:text-green-400; }
  .brackets-2 { @apply text-violet-700 dark:text-violet-400; }
  .brackets-3 { @apply text-pink-700 dark:text-pink-400; }

  .collapsed { @apply hidden; }

  &.viewer {
    @apply ml-5 my-2;
  }

  &.throwable {
    @apply p-3;
  }

  .keyword {
    @apply font-bold;
  }
  .variable {
    @apply text-purple-950 font-bold dark:text-purple-400;
  }
  .method {
    @apply text-green-600 font-bold;
  }
  .function {
    @apply text-orange-600 font-bold dark:text-orange-400;
  }
  .double-colon {
    @apply text-amber-950 tracking-tighter dark:text-amber-400;
  }
}

.--backtrace {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.--found-text {
  @apply relative inline-block px-0.5 bg-green-200 animate-pulse dark:bg-green-800;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
}

.--found-cursor {
  @apply ring-2 ring-green-600;
}

@keyframes fade {
  0% { opacity: 1; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
}

.--dimmed {
  @apply opacity-50;
  animation: fade 0.5s infinite;
}
